@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
 *{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    justify-content: center;
    max-height: 100vh;
    justify-items: center;
    align-items: center;
    text-align: left;
    
    
}
.container{
    max-width: 1170px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right:-12px;
    margin-left: -12px;
}
.justify-content-between{
    justify-content: space-between;
}

/*-------------------column----------------------*/
.col-6{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}
    /*------------card-1 Details-----------*/
    h2{

font-family: DM Sans;
font-size: 42px;
line-height: 52px;
letter-spacing: -0.4000000059604645px;
text-align: left;
color: #1E0E62;

    }
    h4{
        
font-family: DM Sans;
font-size: 22px;
line-height: 32px;
text-align: left;
color: #1E0E62;
padding-top: 20px;
    }
    .para{
    
font-family: DM Sans;
font-size: 16px;
line-height: 26px;
text-align: left;
color: #15143966;
padding-top: 25px;
padding-bottom: 34px;

    }
.icon{
    display: flex;
    align-items: center;
 
}
.number{
    margin-left: 10px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: #1E0E62;


}
.email{
    margin-left: 10px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: #1E0E62; 


}

.line{
     background-color: #EBEAED;
     padding: 1px;
     width: 370px;
   
}
.card-1{
    padding-top: 30px;
    
}
.icon-parent{
    padding-bottom: 35px;
}
.card-parent{
    padding: 25px;
}
.card-2-parent{
    padding: 25px;
}
/*---------------card-2-------------*/
.text{
font-family: DM Sans;
font-size: 14px;
line-height: 26px;
letter-spacing: 2px;
text-align: left;

}

.input-1{
    border: 2px solid #d5d5d5;
    border-radius: 30px;
    height: 45px;
    width: 460px;
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 10px;
    
}

.input-2{
    border: 2px solid #cececf;
    border-radius: 10px;
    height:170px;
    width: 460px;
    padding: 10px;
    background-color:white;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 13px 111px 130px 19px;
}
.input-3{
    border: 2px solid #d5d5d5;
    border-radius: 30px;
    height: 45px;
    width: 350px;
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
    margin-top:10px;
    display: flex;
}
.card-2{
    padding: 20px;
    width: 520px;
    background-color:#efeff0; 
    height: 510px;
    border-radius: 10px;

}

.btn{
    position: relative;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #25DAC5;
    left:370px;
    bottom: 60px;
    color: white;


}

@media (max-width:992px) {
    .col-6{
        display: flex;
        flex-direction: column;
       width: 100%;
    }
    .line{
        background-color: #EBEAED;
       width: 370px;
      
   }
   .card-2{
    width: 450px;
    
   }
   .input-1{
    width: 400px;
    display: flex;
}
.input-2{
    width: 400px;
}
.input-3{
 width: 280px;
}
.btn{
    position: relative;
    left: 300px;
}

    
}
