@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
 *{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    justify-content: center;
     max-height: 100vh;
    justify-items: center;
    align-items: center;
    text-align: left;
    
    
}
.container{
    max-width: 1170px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right:-12px;
    margin-left: -12px;
}
.justify-content-between{
    justify-content: space-between;
}

/*-------------------column----------------------*/
.col-1 {
          width: 8.33%;
          padding-left:12px;
          padding-right:12px;
    }
    .col-2 {
          width: 16.66%;
          padding-left:12px;
          padding-right:12px;
    }
    .col-3 {
          width: 25%;
          padding-left:12px;
          padding-right:12px;
    }
   
    .col-5 {
          width: 41.66%;
          padding-left:12px;
          padding-right:12px;
    }
   
    .col-7 {
          width: 58.33%;
          padding-left:12px;
          padding-right:12px;
    }
    .col-8 {
          width: 66.66%;
          padding-left:12px;
          padding-right:12px;
    }
    .col-9 {
          width: 75%;
          padding-left:12px;
          padding-right:12px;
    }
    .col-10 {
          width: 83.33%;
          padding-left:12px;
          padding-right:12px;
    }
    .col-11 {
          width: 91.66%;
          padding-left:12px;
          padding-right:12px;
    }
    .col-12 {
          width: 100%;
          padding-left:12px;
          padding-right:12px;
    }
    /*------------card-1 Details-----------*/
    h2{

font-family: DM Sans;
font-size: 42px;
line-height: 52px;
letter-spacing: -0.4000000059604645px;
text-align: left;
color: #1E0E62;

    }
    h4{
        
font-family: DM Sans;
font-size: 22px;
line-height: 32px;
text-align: left;
color: #1E0E62;
padding-top: 20px;
    }
    .para{
    
font-family: DM Sans;
font-size: 16px;
line-height: 26px;
text-align: left;
color: #15143966;
padding-top: 25px;
padding-bottom: 34px;

    }
.icon{
    display: flex;
    align-items: center;
 
}
.number{
    margin-left: 10px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: #1E0E62;


}
.email{
    margin-left: 10px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: #1E0E62; 


}

.line{
     background-color: #EBEAED;
     padding: 1px;
     padding-left: 370px;
   
}
.card-1{
    padding-top: 30px;
    
}
.icon-parent{
    padding-bottom: 35px;
}
.card-parent{
    padding: 40px;
}
.card-2-parent{
    padding: 40px;
}
/*---------------card-2-------------*/
.text{
font-family: DM Sans;
font-size: 14px;
line-height: 26px;
letter-spacing: 2px;
text-align: left;

}

.input-1{
    border: 2px solid #d5d5d5;
    border-radius: 30px;
    height: 45px;
    width: 520px;
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
}
.input-2{
    border: 2px solid #d5d5d5;
    border-radius: 30px;
    height: 45px;
    width: 400px;
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
}
.input-3{
    border: 2px solid #cececf;
    border-radius: 10px;
    height:200px;
    width: 520px;
    padding: 10px;
    background-color:white;
    margin-bottom: 30px;
}
.card-2{
    padding: 20px;
    width: 560px;
    background-color:#efeff0; 
    height: 510px;
    border-radius: 10px;

}

.btn{
    position: relative;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #25DAC5;
    left:420px;
    bottom: 60px;


}


@media(min-width:576px;) {
 .col-sm-6{
    width: 50%;
    padding-left:12px;
    padding-right:12px;
 }
 }
 @media (min-width:768px;) {
    .col-md-4 {
          width: 33.33%;
          padding-left:12px;
          padding-right:12px;
    }
    margin-bottom:0;
 }
